* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.5)
}


.cash-register__header {
    padding: 10px;
}

.cash-register__heading {
    text-align: center;
    font-size: 2rem;
}

.cash-register__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cash-register__bill-amount-label,
.cash-register__cash-given-label {
    padding: 10px;
    font-size: 1.5rem;
}



.cash-register__cash-given,
.cash-register__bill-amount,
.cash-register__button {
    display: block;
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

.cash-register__button {
    width: max-content;
}

th,
td {
    border: 2px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 50vw;
}